MyWCFClient/Service References/MyWCFService/WCFServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60399/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60399/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60399/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServices_GetTextData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextData" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_GetTextData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_GetTopper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopper" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_GetTopper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopperResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServices">
    <wsdl:operation name="GetTextData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/GetTextData" message="tns:IWCFServices_GetTextData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/GetTextDataResponse" message="tns:IWCFServices_GetTextData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/GetTopper" message="tns:IWCFServices_GetTopper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/GetTopperResponse" message="tns:IWCFServices_GetTopper_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFServices" type="tns:IWCFServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTextData">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/GetTextData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/GetTopper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServices">
    <wsdl:port name="BasicHttpBinding_IWCFServices" binding="tns:BasicHttpBinding_IWCFServices">
      <soap:address location="http://localhost:60399/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>